project:
  type: website
  output-dir: docs

website:
  title: "Erik De Luca"
  description: "Erik De Luca's personal website. It contains talks, posts and info about a data scientist involved into insurance and biostatistics fields"
  site-url: https://erikdeluca.it
  favicon: "media/logo_3_0.png"
  navbar:
    title: false
    logo: "media/logo2.1 rectangle.png"
    logo-alt: "Logo with some points in a chart and erik de luca written"
    left:
      - href: index.qmd
        text: Home
      - href: projects.qmd
        text: Projects
      - href: publications.qmd
        text: Publications and Talks
      - href: https://erikdeluca.it/Blood-Donors/
        text: Master Thesis
        target: _blank
      - href: about.qmd
        text: About
  page-footer:
    background: light # or `dark`
    left: |
      DE LUCA ERIK, P.IVA: IT01401250327 <br>
      Sede legale: Via dei Giardini, 50 - 34146 - Trieste
    center: |
      Copyright 2024, Erik De Luca 
    right: |
      This website is built with {{< fa heart title="a heart" >}}, [{{< fa brands github title="GitHub octocat logo" >}}](https://github.com/erikdeluca/erikdeluca.github.io){target=_blank}, [{{< fa brands r-project title="R Project" >}}](https://www.r-project.org/about.html){target=_blank} and [Quarto](https://quarto.org/){target=_blank}
  cookie-consent:
    type: implied
    # style: headline
    palette: light
    # storage: cookies
  google-analytics:
    tracking-id: G-X7MSMF2M7M
    anonymize-ip: true
  # for sharing links  of my website
  open-graph: true

format:
  html:
    theme: 
      - cosmo
      - styles.scss
    # mainfont: figtree
    # titlefont: parkinsans
    light: minty
    dark: solar
    toc: true
    page-layout: full
    code-fold: true
    df-print: paged
    warnings: false

execute:
  freeze: auto
